{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk {:git/sha "4180ed31c2864687a770f6d4f625303bd8e75437"}}
 :aliases {:dev {:paths ["dev"]}
           :nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                               :exec-args {:git/url "https://github.com/mk/clerk-px23"
                                           :paths ["README.md"]}}}}
